.container {
	width: 100%;
	padding-top: var(--sp-md);
	gap: var(--sp-md);
}

.rowContainer {
	flex-direction: row;
	justify-content: space-between;

	p:nth-child(even) {
		color: var(--color-text-primary);
	}
}
