.container {
	overflow: hidden;
}

tspan {
	font-size: 0.775rem;
}

.tooltip {
	background: var(--color-grey-100);
	padding: var(--sp-sm) var(--sp-md);
	flex-direction: row;
	display: none;
	align-items: center;
	gap: var(--sp-sm);
	border-radius: var(--sp-md);
	box-shadow: 0 2px 12px 0 rgba(52, 64, 84, 0.2);

	b {
		color: var(--color-grey-700);
		font-weight: 500;
	}

	p {
		color: var(--color-grey-500);
		font-weight: 500;
	}
}
