.container {
	width: 100%;
	background-color: var(--color-base-background);
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}
}

.swapContainer {
	gap: var(--sp-sm);
}

.avatarContainer {
	align-items: center;
	flex-direction: row;

	div:nth-child(2) {
		margin-left: -8px;
	}

	div:nth-child(3) {
		margin-left: -8px;
		margin-right: var(--sp-xs);
	}
}

p {
	font-size: 0.85rem;
}

.abTestStyles {
	box-shadow: 0 39px 60px 0 rgba(0, 0, 0, 0.05);
}
