.rewards_screen_container {
	min-height: 100vh;
	justify-content: space-between;
	align-items: center;
	margin-left: var(--sp-lg);
	margin-right: var(--sp-lg);
	padding-top: var(--sp-xxl);
}

.rewards_wrapper {
	max-width: 600px;
	width: 100%;
	gap: var(--sp-xxl);
}
.streak_wrap {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	& > div {
		width: 50%;
	}
}
