.container {
	flex-direction: row;
	align-items: center;
	height: 100%;
	gap: var(--sp-md);
}

.helpButton {
	height: 35px;

	p {
		color: var(--color-text-secondary);
	}
}

.renderItemContainer {
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
