.container {
	gap: var(--sp-sm);
}

.tokenAreasContainer {
	position: relative;
}

.arrowsIcon {
	position: absolute;
	top: 43%;
	left: 46%;
	color: var(--color-grey-600);
	padding: var(--sp-sm);
	background-color: var(--color-grey-650);
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}

.arrowsIcon:hover {
	color: var(--color-grey-550);
}
