.container {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.tokenInfoContainer {
	flex-direction: row;
	align-items: center;
	gap: var(--sp-md);
}

.tokenTitleContainer {
}

.tokenPriceContainer {
	align-items: flex-end;
}

.balanceSkeleton {
	width: 30px;
	height: 16px;
	border-radius: var(--st-br-md);
}
