.swapButton {
    height: 45px;
}

.disabled {
    background-color: var(--color-button-disabled);
    border: 1px solid var(--color-border-disabled);
}

.wrong {
    background-color: var(--color-button-wrong);
    border: 1px solid var(--color-border-wrong);
}

.success {
    background-color: var(--color-button-success);
    border: 1px solid var(--color-border-success);
}
