.modal {
	/* width: 498px; */
	max-width: 100%;
	margin: 16px;
	background-color: var(--color-gray-25) !important;
	& > div:first-child > h2 {
		font: var(--font-heading-xlarge) !important;
		color: var(--color-gray-700) !important;
	}
}
