.questModal {
	width: 600px;
	overflow: scroll;
}

.mainInfo {
	margin-bottom: 42px;
	gap: var(--sp-lg);
}

.warning {
	margin-top: var(--sp-md);
	text-align: center;
	font-weight: normal;
}

.points {
	color: var(--color-primary-700);
}

.category {
	color: var(--color-grey-500);
}

.description {
	max-width: 430px;
	width: 100%;
	color: var(--color-grey-500);
}
