.innerContainer {
	margin-top: var(--sp-sm);
	background-color: var(--color-grey-650);
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: var(--sp-sm);
}

@media (max-width: 1200px) {
	.container {
		flex: 1;
	}
}
