.container {
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
}

.notification {
    background-color: var(--color-base-background);
    border: 1px solid var(--color-grey-dark);
    border-radius: var(--st-br-md);
    overflow-y: scroll;
    padding: var(--sp-md);
    margin-bottom: var(--sp-md);
}
