.container {
	width: 450px;
	height: 100%;
	max-height: calc(100vh - 42px - (2 * var(--sp-screen-v)) - var(--sp-sm));
}

.stakingCardsContainer {
	overflow-y: scroll;
	gap: var(--sp-sm);
}

@media (max-width: 768px) {
	.container {
		width: 100%;
		height: unset;
	}
}
