.questCard {
	height: 170px;
	transition:
		color 0.2s ease-in-out,
		background-color 0.2s ease-in-out,
		transform 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		transform: translateY(-2px);
	}
}

.category {
}

.title {
	color: var(--color-grey-700);
}

.points {
	color: var(--color-primary-700);
}
