.tagContainer {
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--sp-sm);
	margin-bottom: var(--sp-sm);
}

.textareaContainer {
	width: 100%;
	height: 200px;
	flex-direction: row;
}

.sectionTitle {
	margin: var(--sp-md) 0 var(--sp-sm) 0;
}

.ctaButton {
	margin-top: var(--sp-md);
}

div > input {
	font-size: 14px;
}
