.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-l);
	width: 100%;
	min-height: 136px;

	.logo_wrap {
		display: flex;
		flex-direction: column;
		padding: 9px 0;
	}

	.list_icons {
		display: flex;
		flex-direction: row;
		gap: var(--space-xs);
	}
}
