.highlightsContainer {
    width: 450px;
}

.bottomGridContainer {
    column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    row-gap: 10px;
}

.separator {
    background-color: var(--color-grey-550);
    height: 1px;
    margin: 16px 0;
    width: 100%;
}

@media (max-width: 768px) {
    .highlightsContainer {
        width: 100%;
    }
}
