.highlightsContainer {
	width: 450px;
}

.bottomGridContainer {
	column-gap: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	row-gap: 10px;
}

.separator {
	width: 100%;
	height: 1px;
	background-color: var(--color-grey-550);
	margin: 16px 0;
}

@media (max-width: 768px) {
	.highlightsContainer {
		width: 100%;
	}
}
