.avatar {
	width: 48px;
	height: 48px;
}
.spliiter {
	height: 1px;
	width: 100%;
	background-color: var(--color-gray-100);
}

.quest_link {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: var(--space-s);
	width: 100%;
	button.icon {
		min-width: 48px;
		min-height: 48px;
	}
	.active {
		color: var(--color-accent-600);
	}
	.link_btn {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		color: var(--color-gray-600);
		font: var(--font-button-large);
	}
}
