.spliiter {
	height: 1px;
	width: 100%;
	background-color: var(--color-gray-100);
}

.quest_link {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: var(--space-s);
	width: 100%;
	.active {
		color: var(--color-accent-600);
	}
	.link_btn {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}
}
