.container {
    flex-direction: row;

}

.tag {
    flex-direction: row;
    gap: var(--sp-xs);
    align-items: center;
    justify-content: center;
    border-radius: var(--st-br-sm);
    padding: var(--sp-xxs) var(--sp-sm);

}
