.container {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: var(--sp-md);
	padding-bottom: var(--sp-md);
	gap: var(--sp-lg);
}

.sideContainer {
	gap: var(--sp-lg);
	align-items: flex-start;

	.subtitle {
		color: var(--color-base-white);
	}
}

.rightSide {
	align-items: flex-end;
}
