.container {
}

.back {
	position: absolute;
	left: var(--sp-xxl);
	top: var(--sp-xxl);
}

.iconWrap {
	width: var(--sp-xxxl);
	height: var(--sp-xxxl);
	background: var(--color-primary-700);
	justify-content: center;
	align-items: center;
	border-radius: var(--sp-lg);
}

@media (max-width: 713px) {
	.back {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: var(--sp-lg);
	}
}
