.wrap {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--space-s);
	width: 100%;
	border-radius: var(--space-l);
	padding: var(--space-s) var(--space-m) var(--space-s) var(--space-s);
}
