.user_actions_modal {
	width: 100% !important;
	transform: translateY(20px);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	max-height: 90vh;
	max-width: 806px !important;
	& > * {
		flex-direction: row;
	}
}
.wrap_modal {
	z-index: 1000;
}
