.user_actions_modal {
	box-sizing: border-box;
	transform: translateY(20px);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	width: 1232px;
	height: 880px;
	max-height: 100%;
	max-width: 100% !important;
	margin: 0 !important;
	overflow-y: hidden;
	background-color: var(--color-gray-25) !important;

	@media screen and (width < 1920px) {
		height: 880px;
		width: 1232px;
	}
	@media screen and (width < 1280px) {
		height: 100%;
		width: 100%;
		max-width: 806px;
		max-height: 880px !important;
	}
	@media screen and (width < 744px) {
		height: 100%;
		width: 343px;
	}

	& > * {
		flex-direction: row;
	}

	/*header of modal*/
	& > div:first-child > h2 {
		font: var(--font-heading-xlarge) !important;
		color: var(--color-gray-700) !important;
	}
}
.wrap_modal {
	z-index: 1000;
	& > * {
		/* position: absolute; */
		box-sizing: border-box;
		min-height: 100vh;
		height: 100%;
		overflow: auto;
		padding-top: 48px;
		padding-bottom: 0px;

		@media screen and (width < 1280px) {
			padding: var(--space-xxxl) var(--space-m) 0 var(--space-m);
		}
		@media screen and (width < 744px) {
			margin: 0;
			padding: 48px 16px var(--space-xxxxl) 16px;
			flex-direction: column;
			align-items: center;
		}
	}
}
