.avatar {
    border:          1px solid var(--color-base-black);
    border-radius:   50%;
    display:         block;
    height:          40px;
    object-fit:      cover;
    object-position: center;
    width:           40px;
}

.xs {
    height: 14px;
    width:  14px;
}

.md {
    height: 30px;
    width:  30px;
}

.lg {
    height: 60px;
    width:  60px;
}