.leaderboardHeader {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: var(--sp-screen-h);
	margin-right: var(--sp-sm);

	h4 {
		color: var(--color-grey-450);
	}

	button {
		color: var(--color-text-secondary);
	}
}

.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
