.swapDetailsContainer {
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.reviewContainer {
	width: 100%;
	padding-bottom: var(--sp-lg);
	gap: var(--sp-lg);
}

.selectRouteButtonContainer {
	width: 100%;
	padding: var(--sp-xs) 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
