.container {
	flex: 1;
	flex-wrap: wrap;
	gap: var(--sp-sm);
}

.mainCardStack {
	flex: 1;
	gap: var(--sp-sm);
	min-width: 400px;
}

.secondaryCardStack {
	gap: var(--sp-sm);
	width: 400px;
	max-height: calc(100vh - 42px - (2 * var(--sp-screen-v)) - var(--sp-sm));
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}

	.secondaryCardStack {
		width: 100%;
	}

	.mainCardStack {
		width: 100%;
		min-width: unset;
	}
}
