.w-full {
	width: 100% !important;
}

.h-full {
	height: 100%;
}

.wrap {
	flex-wrap: wrap;
}

.row {
	flex-direction: row;
}

.ac {
	align-items: center;
}

.afe {
	align-items: flex-end;
}

.afs {
	align-items: flex-start;
}

.jc {
	justify-content: center;
}

.jfe {
	justify-content: flex-end;
}

.jsb {
	justify-content: space-between;
}

.jfs {
	justify-content: flex-start;
}

.f1 {
	flex: 1;
}

.gap-xs {
	gap: var(--sp-xs);
}

.gap-sm {
	gap: var(--sp-sm);
}

.gap-md {
	gap: var(--sp-md);
}

.gap-lg {
	gap: var(--sp-lg);
}

.gap-xl {
	gap: var(--sp-xl);
}

.gap-xxl {
	gap: var(--sp-xxl);
}

.hide-down {
	opacity: 0;
	transform: translateY(10px);
}

.show-up {
	opacity: 1;
	transform: translateY(0);
}

/* For Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* For Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.fade-in-out {
	transition:
		opacity 0.25s ease-in-out,
		transform 0.25s ease-in-out;
}

.dark {
	.card:hover {
		background-position: 80% 80%;
	}
}
