:root {
  --st-br-xl: 20px;
  --st-br-lg: 16px;
  --st-br-md: 12px;
  --st-br-sm: 8px;
  --st-br-xs: 4px;
  --sp-xxl: 48px;
  --sp-xl: 32px;
  --sp-lg: 24px;
  --sp-md: 12px;
  --sp-sm: 8px;
  --sp-xs: 4px;
  --sp-xxs: 2px;
  --sp-screen-v: 20px;
  --sp-screen-h: 20px;

  /*--color-tag-recommended: #7335F7;*/
  /*--color-tag-fastest: #093D6D;*/
  /*--color-tag-cheapest: #6D0A46;*/
  /*--color-button-disabled: #45336D;*/
  /*--color-border-disabled: #7335F7;*/
  /*--color-button-wrong: #421C28;*/
  /*--color-border-wrong: #7A253E;*/
  /*--color-button-success: #1E4839;*/
  /*--color-border-success: #20A273;*/

  color-scheme: light dark;
  font-family: Poppins, sans-serif;
  font-size: 16px; /* base font size, 1rem */
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

header,
main,
footer,
aside,
nav,
section,
article,
figure,
figcaption,
ul,
ol,
li {
  display: flex;
}

body {
  background-color: var(--color-base-background);
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
}

.light {
  --color-base-background: #fbfbfb;
  --color-base-black: #fbfbfb;
  --color-base-white: #fbfbfb;
  --color-base-transparent: rgba(255, 255, 255, 0);

  /* primary colors */
  --color-primary-dark: #ab86fa;
  --color-primary-darker: #c7aefc;
  --color-primary-darkest: #e3d7fd;
  --color-primary-light: #452094;
  --color-primary-lighter: #2e1563;
  --color-primary-lightest: #170b31;
  --color-primary-main: #7335f7;
  --color-primary-mainDark: #8f5df9;
  --color-primary-mainLight: #5c2ac6;

  /* grey */
  --color-grey-dark: #cbcacf;
  --color-grey-darker: #e5e5e7;
  --color-grey-darkest: #f7f7f7;
  --color-grey-light: #464646;
  --color-grey-lighter: #1c1c1c;
  --color-grey-lightest: #131313;
  --color-grey-medium: #b0afb5;
  --color-grey-mediumLight: #98959e;

  /* green */
  --color-green-dark: #abedd5;
  --color-green-darker: #c7f3e3;
  --color-green-darkest: #e3f9f1;
  --color-green-light: #20a273;
  --color-green-lighter: #1a8b65;
  --color-green-lightest: #0f271f;
  --color-green-main: #26c281;

  /* red */
  --color-red-dark: #f9c9c3;
  --color-red-main: #f9c9c3;
  --color-red-darker: #fbdcd7;
  --color-red-darkest: #fdeeeb;
  --color-red-light: #d34141;
  --color-red-lighter: #b62c2c;
  --color-red-lightest: #290c0c;

  /* blue */
  --color-blue-darkest: #d9efff;
  --color-blue-darker: #b3d3ff;
  --color-blue-dark: #8ec7ff;
  --color-blue-main: #69bbff;
  --color-blue-light: #45afff;
  --color-blue-lighter: #1f9fff;
  --color-blue-lightest: #0c7dcc;

  /* text */
  --color-text-primary: #131313;
  --color-button-text-primary: #fbfbfb;
  --color-text-secondary: #7e7b86;
  --color-primary-to-lightest: #7335f7;

  /* gradients */
  --color-main-card-gradient: rgba(40, 40, 40, 0.06);
  --color-tr-odd-row-gradient-from: rgba(60, 60, 60, 0);
  --color-tr-odd-row-gradient-to: rgba(17, 17, 17, 0);
}

.dark {
  --color-base-background: #000000;
  --color-base-black: #000000;
  --color-base-white: #fbfbfb;
  --color-base-transparent: 'rgba(0, 0, 0, 0)';

  /* primary colors */
  --color-primary-dark: #452094;
  --color-primary-darker: #2e1563;
  --color-primary-darkest: #170b31;
  --color-primary-light: #ab86fa;
  --color-primary-lighter: #c7aefc;
  --color-primary-lightest: #e3d7fd;
  --color-primary-main: #7335f7;
  --color-primary-mainDark: #5c2ac6;
  --color-primary-mainLight: #8f5df9;

  /* grey */
  --color-grey-dark: #464646;
  --color-grey-darker: #1c1c1c;
  --color-grey-darkest: #131313;
  --color-grey-light: #cbcacf;
  --color-grey-lighter: #e5e5e7;
  --color-grey-lightest: #f7f7f7;
  --color-grey-medium: #98959e;
  --color-grey-mediumLight: #b0afb5;

  /* green */
  --color-green-dark: #20a273;
  --color-green-darker: #194536;
  --color-green-darkest: #0f271f;
  --color-green-light: #abedd5;
  --color-green-lighter: #c7f3e3;
  --color-green-lightest: #e3f9f1;
  --color-green-main: #26c281;

  /* red */
  --color-red-dark: #d34141;
  --color-red-darker: #b62c2c;
  --color-red-darkest: #290c0c;
  --color-red-light: #f9c9c3;
  --color-red-lighter: #fbdcd7;
  --color-red-lightest: #fdeeeb;

  /* blue */
  --color-blue-darkest: #0c7dcc;
  --color-blue-darker: #1f9fff;
  --color-blue-dark: #45afff;
  --color-blue-main: #69bbff;
  --color-blue-light: #8ec7ff;
  --color-blue-lighter: #b3d3ff;
  --color-blue-lightest: #d9efff;

  /* text */
  --color-text-primary: #f7f7f7;
  --color-button-text-primary: #fbfbfb;
  --color-text-secondary: #7e7b86;
  --color-primary-to-lightest: #e3d7fd;

  /* gradients */
  --color-main-card-gradient: rgba(40, 40, 40, 0.5);
  --color-tr-odd-row-gradient-from: rgba(60, 60, 60, 0.2);
  --color-tr-odd-row-gradient-to: rgba(17, 17, 17, 0.2);
}

div#root {
  background-color: var(--color-base-background);
  flex: 1;
}

@media (max-width: 700px) {
  div#root {
    width: 100%;
  }
}

div {
  box-sizing: border-box;
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
label,
span,
li {
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-family: inherit;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

textarea {
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-family: inherit;
  margin: 0;
  padding: 0;
  resize: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

textarea:focus {
  outline: none;
}

ul,
ol,
li {
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
}

p {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

.body1 {
  color: var(--color-text-secondary);
  font-size: 0.85rem;
}

.tagBody {
  color: var(--color-base-white);
  font-size: 0.85rem;
}

button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 0;
  outline: none;
}

.tradingview-widget-copyright {
  display: none;
}

.cardHeaderTitle {
  color: var(--color-grey-medium);
}
