
.container {
    gap: var(--sp-md)
}

.topRow {
    align-items:     center;
    flex-direction:  row;
    justify-content: space-between;
}

.bottomRow {
    align-items:     center;
    flex-direction:  row;
    justify-content: space-between;
}

.secondary {
    /* general styles for the secondary value */
}

.sm {
    /* small font size styles */
}

.md {
    /* medium font size styles */
}

.lg {
    /* large font size styles */
}
