.container {
    background-color: var(--color-grey-darkest);
    gap: var(--sp-xs);
    position: relative;
}

.topRow {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.bottomRow {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1;

    .tag {
        position: absolute;
        right: var(--sp-sm);
        bottom: var(--sp-sm);
    }

}
