.container {
  gap: var(--sp-xs);
}

.topRow {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.bottomRow {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
