.container {
    min-width: 400px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sideContainer {
    flex-direction: row;
    gap: var(--sp-sm);
    align-items: center;
}
