.profile_button {
	width: 100%;
	&:hover {
		cursor: pointer;
	}
	.address {
		color: var(--color-gray-600);
	}
	.only_address {
		color: var(--color-gray-700);
	}
}

.profile_avatar {
	width: 32px;
	height: 32px;
	&.big_avatar {
		&:hover {
			cursor: pointer;
		}
		width: 40px;
		height: 40px;
	}
}
