.separator {
	width: 1px;
	height: 100%;
	margin: 0 var(--sp-sm);
	background-color: var(--color-grey-200);
}

.progressStep {
	border-radius: var(--sp-lg);
	height: var(--sp-sm);
	background-color: var(--color-grey-100);
}

.progressValue {
	border-radius: var(--sp-lg);
	height: var(--sp-sm);
	background-color: linear-gradient(90deg, #ebe9fe 0%, #d9d6fe 100%);
}
