.container {
	border-radius: var(--st-br-md);
	width: 100%;
	flex-direction: row;
	align-items: center;
	gap: var(--sp-sm);
	cursor: pointer;
}

.container:hover {
	background-color: var(--color-grey-600);
}

.chainButton {
	border-radius: var(--st-br-xl);
}

.titleContainer {
}
