.container {
  flex-direction: row;
  gap: var(--sp-sm);
}

.tokenContainer {
  flex: 1;
  gap: var(--sp-xs);
  padding: var(--sp-sm);
  align-items: center;
  border-radius: var(--st-br-sm);
  opacity: 60%;
}

.selected {
  background-color: var(--color-grey-darker);
  opacity: 100%;
}
