.description_title {
	color: var(--color-gray-500);
}
.description_current_number {
	color: var(--color-gray-700);
}
.description_separator {
	color: var(--color-gray-200);
}
.description_max {
	color: var(--color-gray-500);
}

.error_title {
	color: var(--color-danger-700);
}
.error_description {
	color: var(--color-danger-600);
}

.error_icon {
	width: 16px;
	height: 16px;
}
