.header {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--sp-sm);
}

.title {
	color: var(--color-grey-600);
}

.value {
	color: var(--color-grey-600);
}
