.tokenContainer {
    padding: var(--sp-md) var(--sp-md);
    background-color: var(--color-grey-darker);
    border-radius: var(--st-br-md);
}

.swapContainer {
    gap: var(--sp-sm);
}

.tokenRow {
    flex-direction: row;
    justify-content: space-between;

    p {
        color: var(--color-grey-medium)
    }

    h3, h4, h5 {
        color: var(--color-grey-light);
    }
}
