.wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner {
	max-width: 498px;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
	gap: var(--sp-sm);
	text-align: center;

	h3 {
		color: var(--color-grey-700);
	}

	p {
		color: var(--color-grey-600);
	}
}
