.container {
	flex: 1;
	gap: var(--sp-lg);
	margin-top: var(--sp-lg);
}

.stepBlock {
	gap: var(--sp-md);
}

.buttonContainer {
	width: 100%;
	flex-direction: row;
	gap: var(--sp-md);
}

.f1 {
	flex: 1;
}

.title {
	color: var(--color-gray-700);
}

.alightStart {
	align-self: flex-start;
}
