.container {
	background: #e0f2fe;
	border-radius: var(--sp-md);
	padding: var(--sp-sm);
	flex-direction: row;
	gap: var(--sp-sm);
}

.text {
	gap: var(--sp-sm);
	margin-top: 6px;

	h5,
	p {
		color: #026aa2;
	}
}

.wrapIcon {
	max-width: 32px;
	width: 100%;
	height: 32px;
	justify-content: center;
	align-items: center;
	border-radius: var(--sp-sm);
	background: var(--color-grey-25);
}

.button {
	background: #0086c9;
	color: #f5fbff;

	&:hover {
		background: #0086c9;
		color: #f5fbff;
	}
}
