.container {
	padding: var(--sp-md) var(--sp-sm) var(--sp-sm) var(--sp-sm);
	background-color: var(--color-grey-650);
}

.chainsContainer {
	flex: 1;
	overflow-y: scroll;
	margin-top: var(--sp-sm);
	gap: var(--sp-sm);
}

.firsChainsLineContainer {
	padding-top: var(--sp-sm);
	gap: var(--sp-sm);
	flex-wrap: nowrap;
	align-items: center;
}

.animeContainer {
	overflow: hidden;
}

.moreButton {
	width: 46px;
	height: 46px;
}

.title {
}
