.container {
	padding-top: var(--sp-md);
	padding-bottom: var(--sp-md);
}

.chainsContainer {
	flex-wrap: wrap;
	flex: none;
	overflow: hidden;
	padding-top: var(--sp-sm);
	gap: var(--sp-sm);
}

.firsChainsLineContainer {
	flex-wrap: nowrap;
	gap: var(--sp-sm);
}

.animeContainer {
	overflow: hidden;
}

.chainButton {
	border-radius: var(--st-br-xl);
}
