.container {
	padding: var(--sp-sm);
	background-color: var(--color-grey-650);
}

.chainsContainer {
	flex: 1;
	overflow-y: scroll;
	margin-top: var(--sp-sm);
	gap: var(--sp-sm);
}

.firsChainsLineContainer {
	padding-top: var(--sp-sm);
	flex-wrap: nowrap;
	gap: var(--sp-sm);
}

.animeContainer {
	overflow: hidden;
}
