.container {
    width: 350px;
}

.tagContainer {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sp-sm);
}

.textareaContainer {
    width: 100%;
    height: 200px;
    flex-direction: row;
    padding: var(--sp-md) 0;
}
