.depositTab {
	flex-wrap: wrap;
	flex-direction: row;
	gap: var(--sp-xl);
}

.statisticBlock {
	gap: var(--st-br-lg);
	max-width: 354px;
	width: 100%;
	position: relative;
	z-index: 1;
}

@media (max-width: 768px) {
	.depositTab {
		align-items: center;
		justify-content: center;
	}
}
