.container {
    background-Color: var(--color-base-background);
    flex: 1;
    padding: var(--sp-screen-v) var(--sp-screen-h);
}

@media (max-width: 768px) {
    .container {
        padding: var(--sp-sm);
    }
}
