.container {
	width: 35%;
	gap: var(--sp-md);
}

.amount {
	margin-top: 4px;
	height: 24px;
	width: 100%;
	border-radius: var(--st-br-sm);
}

.amountUsd {
	height: 20px;
	width: 40%;
	border-radius: var(--st-br-sm);
}
