.container {
    height: 100%;
    width: 450px;
}

.filteredTagsContainer {
    padding: var(--sp-md) 0;
    flex-direction: row;
    gap: var(--sp-xs);
    flex-wrap: wrap;

    .tagText {
        color: var(--color-base-white);
    }
}


.stakingCardsContainer {
    gap: var(--sp-sm);
}
