.meta_info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--space-xs);
	.category {
		color: var(--color-gray-500);
		font: var(--font-body-medium);
	}
}
.rewards_modal {
	/* width: 100%; */
	/* max-width: 395px; */
	align-items: center;
	gap: var(--sp-xl);
}
