.container {
	flex-direction: row;
	max-width: 40%;
	overflow-x: scroll;
	align-items: center;
	gap: var(--sp-sm);
	margin-left: var(--sp-sm);
}

.tokenContainer {
	flex: 1;
	gap: var(--sp-xs);
	padding: var(--sp-sm);
	align-items: center;
	border-radius: var(--st-br-sm);

	p {
		color: var(--color-grey-350);
	}
}
