.wrap {
	gap: var(--sp-md);
}

.container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--sp-xs);
	cursor: pointer;
}

.priceFee {
	font-weight: 500;
	color: var(--color-grey-700);
}

.iconWrap {
	justify-content: center;
	align-items: center;
	padding: var(--sp-sm);
}
