.tooltip {
	z-index: 1;
	border-radius: var(--st-br-md) !important;
	background-color: var(--color-grey-700) !important;
	color: var(--color-grey-300) !important;
	padding: var(--st-br-md) !important;

	h6 {
		color: var(--color-grey-100) !important;
		font-weight: 500;
		font-size: 14px;
	}
	p {
		color: var(--color-grey-300) !important;
		font-weight: 400;
		font-size: 14px;
	}
}
