.container {
    flex: 1;
    min-height: 400px;
}

.selectChainContainer{
    flex-direction: row;
    gap: var(--sp-sm);
    align-items: center;
    
    h5 {
        color: var(--color-grey-medium)
    }
}

.headerContainer{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--sp-md);
}
