.container {
	flex: 1;
	min-height: 450px;
}

.headerContainer {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tagsContainer {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--sp-xs);
}

.chartContainer {
	flex: 1;
	position: relative;
	padding-top: var(--sp-md);
}
