.container {
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;
  gap: var(--sp-sm);
  margin-left: var(--sp-sm);
}

.tokenContainer {
  flex: 1;
  gap: var(--sp-xs);
  padding: var(--sp-sm);
  align-items: center;
  border-radius: var(--st-br-sm);
  background-color: var(--color-grey-600);

  p {
    color: var(--color-grey-350);
  }
}

.selected {
  background-color: var(--color-primary-600);
}
