.details {
	gap: var(--sp-md);
}

.totalInfoSection {
	flex-direction: row;
	gap: var(--sp-md);
}

.restInfoSection {
	flex-direction: row;
	gap: var(--sp-md);
}

@media (max-width: 768px) {
	.details {
		max-width: 354px;
		margin: 0 auto;
	}

	.totalInfoSection {
		flex-direction: column;
	}

	.restInfoSection {
		flex-direction: column;
		justify-content: center;
	}
}
