.modal {
	padding: 0;
}

.container {
	width: 450px;
	flex-direction: row;
}

.tokenContainer {
	margin-top: var(--sp-md);
	gap: var(--sp-xs);
	overflow-y: scroll;
	height: 434px;
}

.tokensContainer {
	width: 100%;
	padding: 0 var(--sp-sm);
}

.header {
	padding: var(--sp-sm) 0;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}
}
