.container {
	width: 100%;
	background-color: var(--color-grey-650);
	margin-bottom: var(--sp-sm);
}

.input {
	width: 100%;
	font-size: 18px;
	font-weight: 500;
}

.rowContainer {
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: var(--sp-md);
}
