.container {
    align-items: center;
    flex-direction: row;
    gap: var(--sp-md);


}

.symbolNameContainer {
    flex-direction: row;

    p:nth-child(2) {
        color: var(--color-text-secondary);
    }
}

.iconContainer {
    aspect-ratio: 1;
    width: 18px;

    object {
        color-scheme: light;
    }
}

