.container {
  align-items: center;
  flex-direction: row;
  gap: var(--sp-md);
}

.symbolNameContainer {
  flex-direction: row;

  p:nth-child(2) {
    color: var(--color-text-secondary);
  }
}

.iconContainer {
  aspect-ratio: 1;
  width: 18px;
  height: 18px;
  background-color: var(--color-grey-darker);
  border-radius: 50%;

  object {
    color-scheme: light;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}
