.swapDetailsContainer {
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	padding-left: var(--sp-md);

	.swapTagContainer {
		flex-direction: row;
		gap: var(--sp-xs);

		.swapPriceTag {
			align-items: center;
			flex-direction: row;
			gap: var(--sp-xs);
		}
	}
}

.routeCardsContainer {
	overflow-y: scroll;
	gap: var(--sp-sm);
}
