.logoWrap {
	width: var(--sp-xxxl);
	height: var(--sp-xxxl);
	border-radius: var(--sp-lg);
	background: var(--color-grey-200);
	justify-content: center;
	align-items: center;
}

.title {
	color: var(--color-grey-500);
}

.value {
	color: var(--color-grey-500);
}

.metric {
	border-bottom: 1px solid var(--color-grey-200);
	flex-direction: row;
	padding-bottom: var(--sp-sm);
	justify-content: space-between;

	b {
		font-weight: 500;
		color: var(--color-grey-700);
	}
}
