.container {
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.tagContainer {
	flex-direction: row;
	align-items: center;
	gap: var(--sp-md);
}

.tagInnerContainer {
	flex-direction: row;
	gap: var(--sp-xs);
	align-items: center;
}

.hidden {
	visibility: hidden;
}
