.cardHeader {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--sp-sm);
  padding-bottom: var(--sp-md);

  h5 {
    color: var(--color-grey-medium);
  }
}

.titleContainer {
  flex-direction: row;
  align-items: center;
}
