.cardHeader {
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--sp-sm);
	padding-bottom: var(--sp-md);
}

.titleContainer {
	flex-direction: row;
	align-items: center;
	gap: var(--sp-sm);
}
