.step_item {
	width: 40px;
	height: 40px;
	border-radius: var(--space-s);
	&.default {
		background-color: var(--color-gray-50);
	}
	&.complited {
		background-color: var(--color-accent-100);
	}
	&.current_active {
		background-color: var(--color-accent-500);
	}
	&.warning {
		background-color: var(--color-warning-100);
	}
	&.danger {
		background-color: var(--color-danger-500);
	}
}
