$mobile_break: 743px;
$tablet_break: 1279px;
.history_wrapper {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	overflow: auto;

	.table {
		.cers_text {
			color: var(--color-accent-600);
		}
		.date_text {
			color: var(--color-gray-600);
		}

		@media screen and (width < 744px) {
			.user_action {
				padding-top: var(--space-s);
				padding-bottom: var(--space-s);
			}
		}
	}
}

.loader_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	color: var(--color-gray-700);
}
.danger_text {
	color: var(--color-danger-600);
}
.secondary_text {
	color: var(--color-gray-500);
}
