.daily_tasks {
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
	width: 100%;
	.title {
		font: var(--font-heading-small);
		color: var(--color-gray-600);
	}
	.list {
		display: flex;
		flex-direction: row;
		gap: var(--space-m);
		& > .preview_item {
			width: 189px;
		}
	}
}
