.daily_tasks {
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
	.title {
		font: var(--font-heading-small);
		color: var(--color-gray-600);
	}
	.list {
		display: flex;
		flex-direction: row;
		gap: var(--space-m);
	}
}
