.container {
	width: 100%;
	max-width: 395px;
	margin-top: 48px;
}

.buttons {
	flex-direction: row;
	gap: var(--sp-sm);
}

@media (max-width: 744px) {
	.buttons {
		flex-direction: column;
		width: 100%;

		> button {
			width: 100%;
		}
	}
}
