.container {
	width: 100%;
	max-width: 395px;
	gap: var(--sp-lg);
}

.card {
	width: 100%;
	max-width: 100%;
	background-color: var(--color-grey-25);
}

@media (max-width: 768px) {
	.card {
		width: 100%;
	}
}
