.container {
    height: 100%;
    flex-direction: row;
    background-color: var(--color-grey-darker);
    border-radius: var(--st-br-md);
    padding: 2px;
}

.selected{
    background-color: var(--color-grey-dark);
}
