.container {
    flex: 1;
    gap: var(--sp-sm);
    flex-direction: row;
}

.mainCardStack {
    flex: 1;
    min-height: 50%;
    gap: var(--sp-sm);
}

.secondaryCardStack {
    gap: var(--sp-sm);
    width: 300px;
}

.stacksContainer {
    flex: 1;
    gap: var(--sp-sm);
    flex-direction: row;
    flex-wrap: wrap;
}
