.container {
	flex: 1;
	gap: var(--sp-lg);
	margin-top: var(--sp-lg);
}

.step_block {
	gap: var(--sp-md);
}

.button_container {
	width: 100%;
	flex-direction: row;
	gap: var(--sp-md);
}

.f1 {
	flex: 1;
}

.title {
	color: var(--color-gray-700);
}

.alight_start {
	align-self: flex-start;
}
