.card {
	background-color: var(--color-gray-25);
	background-size: 200% 200%;
	background-position: 200% 200%;
	border-radius: var(--sp-xl);
	padding: var(--sp-lg);
	transition: background-position 0.4s;
	position: relative;
}
