.container {
	border-radius: var(--sp-xl);
	background-color: var(--color-primary-25);
	width: 100%;
	padding: var(--sp-lg);

	button {
		width: 70px;
	}
}

.logo {
	width: 48px;
	height: 48px;
}

.title {
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-primary-700);
	margin-top: var(--sp-sm);
	margin-bottom: var(--sp-xs);
}

.subtitle {
	font-size: 0.875rem;
	margin-bottom: var(--sp-lg);
	color: var(--color-primary-600);
}
