.row {
    flex-direction: row
}

.ac {
    align-items: center;
}

.jc {
    justify-content: center;
}

.f1 {
    flex: 1
}

.card {
    border-radius: var(--st-br-md);
    border: 1px solid var(--color-grey-dark);
    background-color: var(--color-base-background);
    padding: var(--sp-sm);
}
