:root {
    @import-json './constants/colors.json';
    @import-json './constants/spacing.json';
    @import-json './constants/styles.json';
    font-family: Poppins, sans-serif;
    font-size: 16px; /* base font size, 1rem */
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

header, main, footer, aside, nav, section, article, figure, figcaption, ul, ol, li {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

div#root {
    flex: 1
}

div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, a, button, input, label, span, li {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
    color: var(--color-text-primary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

ul, ol, li {
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

h5 {
    font-size: 0.875rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 0;
}

input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
}
