.wrap_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-xxxxl);
	width: 100%;
	padding-top: var(--space-xl);
	padding-right: var(--space-xl);
	padding-bottom: var(--space-xxxxl);
	padding-left: var(--space-xl);
	background: linear-gradient(180deg, var(--color-gray-25) 0%, var(--color-gray-50) 30%);
}
