.container {
	padding: var(--sp-sm);
	background-color: var(--color-base-background);
	border-radius: var(--st-br-sm);
	border: 1px solid var(--color-grey-600);
	gap: var(--sp-sm);
}

.headerContainer {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.stepsContainer {
	gap: var(--sp-sm);
}
