.container {
    width: 300px;
    padding-top: var(--sp-md);
    gap: var(--sp-md);
}

.rowContainer {
    flex-direction: row;
    justify-content: space-between;

    p:nth-child(even) {
        color: var(--color-text-primary);
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
