.user_multipliers {
	max-width: 294px;
	.heading {
		color: var(--color-gray-100);
	}
	.description_text {
		color: var(--color-gray-400);
	}
	.title_multiplier {
		color: var(--color-gray-100);
	}
	.separator {
		display: block;
		height: 1px;
		width: 100%;
		background-color: var(--color-gray-800);
	}
}
