.user_multipliers {
	display: flex;
	justify-content: space-between;
	/* background-color: var(--color-gray-700); */
	/* gap: 12px; */
	min-width: 261px;
}

.multiplier_heading {
	width: 100%;
}

.heading {
	color: var(--color-gray-100);
}
.multiplier_value {
	color: var(--color-gray-100);
}
.multiplier_components {
	width: 100%;
}

.item {
	width: 100%;
	color: var(--color-gray-100);
	& > :first-child{
		color: var(--color-gray-300);
	}
}
