.container {
	width: 100%;
	padding-top: var(--sp-md);
	padding-bottom: var(--sp-md);
}

.chainsContainer {
	flex-direction: row;
	flex-wrap: wrap;
	flex: none;
	overflow: hidden;
	padding-top: var(--sp-sm);
	gap: var(--sp-sm);
}

.firsChainsLineContainer {
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--sp-sm);
}

.animeContainer {
	overflow: hidden;
}
