.questsHeader {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: var(--sp-screen-h);
	margin-right: var(--sp-sm);

	h4 {
		color: var(--color-grey-450);
	}

	button {
		color: var(--color-text-secondary);
	}
}

.smallCardsContainer {
	min-width: 242px;
	gap: var(--sp-md);
	flex-wrap: wrap;
}
