.step {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--sp-sm);
}

.idle {
	color: var(--color-grey-500);
}

.pending,
.await {
	color: var(--color-grey-700);
}

.error {
	color: var(--color-danger-700);
}

.success {
	color: var(--color-success-500);
}
