.container {
	width: 100%;
	flex-direction: row;
	align-items: center;
	padding-bottom: var(--sp-md);
	transition: 200ms ease-in-out;
}

.titleMode {
	cursor: pointer;
	color: var(--color-grey-550);
}

.titleModeActive {
	cursor: pointer;
	color: var(--color-text-secondary);
}
