.linksCard {
	max-width: 354px;
	width: 100%;
}

.separator {
	background: var(--color-grey-650);
	width: 100%;
	height: 1px;
	margin-top: var(--st-br-lg);
	margin-bottom: var(--sp-md);
}

.linksList {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px 6px;
	margin-top: var(--sp-md);
}

.link {
	background: var(--color-grey-650);
	border: none;

	&:hover {
		background: var(--color-grey-650);
		border: none;
	}
}
