.testing_start_block {
	display: flex;
	flex-direction: column;
	/* gap: var(--space-m); */
	justify-content: center;
	align-items: center;
	.description_block {
		display: flex;
		flex-direction: column;
		gap: var(--space-xxs);
		margin-top: -2px;
		.title {
			text-align: center;
			font: var(--font-heading-large);
			color: var(--color-gray-700);
		}
		.subtitle {
			text-align: center;
			font: var(--font-body-large);
			color: var(--color-gray-600);
		}
	}
}
