.container {
	border-radius: var(--sp-lg);
	background-color: var(--color-grey-50);
	padding: var(--sp-lg);
	gap: var(--sp-lg);

	h4 {
		color: var(--color-grey-700);
	}
}

.containerSuccessState {
	padding: var(--sp-lg);
	border-radius: var(--sp-lg);
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--color-grey-50);

	h4 {
		color: var(--color-grey-500);
	}
}

.error {
	color: var(--color-danger-600);
}
