.progress_bar {
	flex-direction: row;
	height: var(--sp-sm);
	border-radius: var(--st-br-xs);
	background-color: var(--color-gray-100);
	width: 100%;
}

.progress_line {
	border-radius: var(--st-br-xs);
	height: inherit;
	background: linear-gradient(90deg, #bdb4fe 0%, #9b8afb 100%);
}
.full_width {
	width: 100%;
}
.value1 {
	color: var(--color-gray-700);
}

.max_value1 {
	color: var(--color-gray-500);
	font-size: 14px;
}

.value2 {
	color: var(--color-gray-700);
	font-size: 1rem;
}

.max_value2 {
	color: var(--color-gray-600);
	font-size: 1rem;
}

.current_value_wrapper {
	position: relative;
	height: 34px;
}

.current_value {
	width: fit-content;
}
