.container {
    gap: var(--sp-sm);
    flex: 1;
    flex-wrap: wrap;
}

.cardHeader {
    flex-direction: row;
    align-items: center;
    gap: var(--sp-sm);

    h5 {
        color: var(--color-grey-medium)
    }
}

.mainCardStack {
    flex: 1;
    gap: var(--sp-sm);
    min-width: 400px;
}

.secondaryCardStack {
    min-width: 350px;
    gap: var(--sp-sm);
}

