.container {
	gap: var(--st-br-md);
	overflow: hidden;
	background: var(--color-grey-25);
}

.header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--sp-lg);
}

.avatar {
	border-radius: 50%;
	width: 32px;
	height: 32px;
}

.connect_social_btn {
	cursor: pointer;
	width: 100%;
	& > span:last-child {
		margin-left: auto;
	}
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}
}
