.container {
    flex-direction: row;
}

.tag {
    align-items:     center;
    border-radius:   var(--st-br-sm);
    flex-direction:  row;
    gap:             var(--sp-xs);
    justify-content: center;
    padding:         var(--sp-xxs) var(--sp-sm);
}

.xs {
    padding: var(--sp-xs) var(--sp-sm);
}

.md {
    padding: var(--sp-sm) var(--sp-md);
}

.lg {
    padding: var(--sp-md) var(--sp-lg);
}